.git
.gitignore
.env
.env.example
.env.*.local
.env.*.php
.editorconfig
.php-cs-fixer.cache
.phpunit.cache
.vscode
.idea
*.log
*.sql
node_modules
npm-debug.log
pnpm-debug.log
yarn-error.log
build/
dist/
coverage/
storage/logs/*
storage/app/*
!storage/app/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
public/storage
public/hot
vendor/
.DS_Store
Thumbs.db
docker-compose.override.yaml
docker-compose.local.yaml
README.md
CHANGELOG.md
LICENSE
.gitattributes
.dockerignore
Dockerfile
docker-compose.yaml
