services:
  app-web:
    build:
      context: .
      dockerfile: docker/build-web.Dockerfile
      # target: web
    restart: unless-stopped
    working_dir: /app
    environment:
      - OCTANE_SERVER=frankenphp
      - OCTANE_HTTPS=false
      - OCTANE_WORKERS=4
      - OCTANE_MAX_REQUESTS=500
    # deploy:
    #   replicas: 2 # Adjust the number of replicas as needing load balancing
    ports: # Do not use port when using replicas with load balancer
      - "${DOCKER_APP_PORT}:8000"
    volumes:
      - ".:/app"
      - "caddy_data:/data"
      - "caddy_config:/config"
    networks:
      - absence_network
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8000/up || exit 1"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s

  app-scheduler:
    build:
      context: .
      dockerfile: docker/build-scheduler.Dockerfile
      # target: scheduler
    restart: unless-stopped
    working_dir: /app
    environment:
      - OCTANE_SERVER=frankenphp
      - OCTANE_HTTPS=false
    volumes:
      - ".:/app"
    networks:
      - absence_network
    healthcheck:
      test: ["CMD-SHELL", "php artisan --version || exit 1"]

volumes:
  caddy_data: null
  caddy_config: null

networks:
  absence_network:
    driver: bridge
    name: database_net
    external: true
