version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: build.Dockerfile
    image: absence-payroll-php
    container_name: absence-payroll
    restart: unless-stopped
    working_dir: /app
    ports:
      - "8001:8000"
    volumes:
      - ".:/app"
      - "caddy_data:/data"
      - "caddy_config:/config"
    networks:
      - absence_network

volumes:
  caddy_data: null
  caddy_config: null

networks:
  absence_network:
    driver: bridge
    name: database_net
    external: true
