services:
  app-web:
    build:
      context: .
      dockerfile: docker/build-web.Dockerfile
      # target: web
    restart: unless-stopped
    working_dir: /app
    environment:
      - OCTANE_SERVER=frankenphp
      - OCTANE_HTTPS=false
    ports:
      - "${DOCKER_APP_PORT}:8000"
    volumes:
      - ".:/app"
      - "caddy_data:/data"
      - "caddy_config:/config"
    networks:
      - absence_network

  app-scheduler:
    build:
      context: .
      dockerfile: docker/build-scheduler.Dockerfile
      # target: scheduler
    restart: unless-stopped
    working_dir: /app
    environment:
      - OCTANE_SERVER=frankenphp
      - OCTANE_HTTPS=false
    volumes:
      - ".:/app"
    networks:
      - absence_network

volumes:
  caddy_data: null
  caddy_config: null

networks:
  absence_network:
    driver: bridge
    name: database_net
    external: true
